<h1>List of Blogs</h1>


<table>
    <tr>
        <th>Blog ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Operations</th>
    
    </tr>
    <tr>
        <th>1</th>
        <th>Lorum Ipsum Title</th>
        <th>Lorum Ipsum Description</th>
        <th>Show Edit Delete</th>    
    </tr>

    <% @blogs.each do |blog| %>
    <tr>
        <th><%= blog.id %></th>
        <th><%= blog.title %></th>
        <th><%= blog.description %></th>
        <th>Show Edit Delete</th>    
    </tr>
    <% end %>

</table>


<br>
<%= link_to "Create New Blog", new_blog_path %>
<br>
