<h1> Create a New Blog </h1>



<%= render partial: 'errors', locals: {blog: @blog} %>
<%= render partial: 'blog_form', locals: {blog: @blog} %>





    <br>
    <%= link_to "Go back to blogs", blogs_path %>
    <br>



<!-- 
 comment out
-->